.servicos_intro {
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,0.5)), url('../img/intro-servicos.png');
    background-position: center;
  }
  .servicos__main_title {
    margin: 40px 20px;
  }
  .servicos {
    padding:70px 0 50px;
  }
  .servicos__item  {
      margin-bottom: 20px;
    figure {
      margin-bottom: 0;
    }
    img {
      margin: 0 auto;
      border-radius: 50%;
      width: 200px;
      height: 200px;
    }
    h1 {
      margin-bottom: 20px;
      text-transform: uppercase;
      font-size: 2rem;
    }
    p {
      font-size: 1.125rem;
      line-height: 1.5;
    }
    .servico_info {
      padding: 20px;
      text-align: center;
    }
  }
