.sobre_intro {
  background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,0.5)), url('../img/intro-sobre.png');
}
.empresa {
    padding: 70px 0;
    background-color: #F5F5F5;
    
}
.empresa_info {
    margin: 40px auto;
    max-width: 500px;
    p {
        font-size: 1.125rem;
        line-height: 1.8;
    }
}
.estrutura {
    padding: 70px 0;
    h3 {
        margin-top: 20px;
    }
}